<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.personal.dvdfogle.imperialassaultguide">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:installLocation="preferExternal"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".HomePage">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ChooseExpansionsActivity"
            android:parentActivityName=".HomePage">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".HomePage" />
        </activity>
        <activity
            android:name=".SetupGameDetailsActivity"
            android:parentActivityName=".ChooseExpansionsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ChooseExpansionsActivity" />
        </activity>
        <activity
            android:name=".SetupSideMissionsActivity"
            android:parentActivityName=".SetupGameDetailsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".SetupGameDetailsActivity" />
        </activity>
        <activity android:name=".LoadGame" />
    </application>

</manifest>